@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.animation-rotate {
  animation: rotate 10s linear infinite;
}

.appearance-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.decoration-none {
  text-decoration: none;
}

.duration-bg-300 {
  transition: background-color 0.3s;
}

/* ANIMATION */

@keyframes rotate {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(360deg);
  }
}
