@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.animation-rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(360deg);
  }
}
